ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li:not(:last-child) {
  margin-right: 1em;
}

.active {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px black;
  text-align: center;
}
